body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background: linear-gradient(174.02deg, #FFBD00 19.27%, #FF971E 39.63%, #FE3032 107.77%);
}

.circulo{
    height: 600px;
    width: 600px;
    border-radius: 50%;
    display: inline-block;
}

.bienvenida {
    width: 600px; 
    height: 20px; 
    top: 100px; 
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px; 
    color: #000000;
    text-align: center; 
    font-optical-sizing: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bienvenida p{
    margin-left: 10px;
}

.botonindex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 10px 10px;
    gap: 90px;
    width: 371px;
    height: 371px;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 50%;
    text-decoration: none;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    transition: all .1s linear;
}

.botonindex:active{
    box-shadow: 0 4px 0 linear-gradient(90deg, #000000 0%, #1d1d1d 100%);
    opacity: 70%;
}

.botonindex p {
    width: 220px;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 35px;
    line-height: 48px;
    color: #FFFFFF;
    margin: 0;
    text-align: left;
}

.botonindex::before {
    content: '';
    top: 83%;
    width: 30px;
    height: 30px;
    transform: translateY(68%) translateX(-160%) rotate(135deg);
    border-left: 7px solid #ffffff;
    border-top: 7px solid #ffffff;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%) translateY(68%) rotate(135deg);
    border-radius: 3px;
}

.botonindex::after {
    content: '';
    top: 83%;
    width: 70px;
    height: 8px;
    background-color: #ffffff;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-76%) translateY(485%);
    border-radius: 3px;
}

.botonAdmin{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    right: 60%;
    width: 277px;
    height: 79px;
    text-decoration: none;
    position: absolute;
    bottom: 5px;
    margin: 20px;
    border: 5px solid #000000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 35px;
    background: linear-gradient(90deg, #FE3032 0%, #FF971E 100%);
    box-shadow: 0 5px 0 linear-gradient(90deg, #ca2629 0%, #d87f19 100%);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 39px;
    color: #000000;
    box-sizing: border-box;
    overflow: hidden;
    transition: all .1s linear;
}

.botonAdmin:active{
    box-shadow: 0 4px 0 linear-gradient(90deg, #ca2629 0%, #d87f19 100%);
    transform: translateY(4px);
    opacity: 70%;
}