body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    position: relative;
    width: 100vw; 
    height: 100vh; 
    margin: 0; 
    background: linear-gradient(174.02deg, #FFBD00 19.27%, #FF971E 39.63%, #FE3032 107.77%);
    overflow-x: hidden;
}

.circulo{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    display: inline-block;
}

.textoPrincipal{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 800;
    line-height: 39px;
    color: #000000;
    font-size: 60px;
    height: 0px;
}

.espacioCyR{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transform: translateY(-25%);
}

.feedback {
    height: 250px;
    width: 510px;
    background-color: #F3EDF7;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 45px;
}

.feedback p{
    font-size: 45px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    color: #000000;
}

.wrapper {
    max-width: 65ch;
    margin: 0 auto;
    padding: 0 2rem;
}

.call-to-action-text {
    margin: 2rem 0;
    text-align: left;
}

.star-wrap {
    width: max-content;
    margin: 0 auto;
    position: relative;
    margin-top: -50px;
}

.star-label.hidden {
    display: none;
}

.star-label {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
}

@media (min-width: 840px) {
    .star-label {
    width: 6rem;
    height: 6rem;
    }
}

.star-shape {
    width: 90%;
    height: 90%;
    clip-path: polygon(50% 5%, 63% 35%, 95% 35%, 70% 58%, 80% 85%, 50% 70%, 20% 85%, 30% 58%, 5% 35%, 37% 35%);
    background: linear-gradient(180deg, #FF971E 0%, gold 100%);
}

.star:checked + .star-label ~ .star-label .star-shape {
    background: lightgray;
}

.star {
    position: fixed;
    opacity: 0;
    left: -90000px;
}

.skip-button {
    display: block;
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    position: absolute;
    top: -2rem;
    right: -1rem;
    transform: translateY(-50%);
    text-align: center;
    line-height: 2rem;
    font-size: 2rem;
    background-color: rgba(255, 255, 255, 0.1);
}

.skip-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

#skip-star:checked ~ .skip-button {
    display: none;
}

.completar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 450px;
    background-color: #FFC200;
    color: black;
    text-decoration: none;
    font-size: 30px;
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-style: normal;
    border-radius: 80px;
}

.caja {
    display: flex;
    gap: 198px;
    flex-direction: column;
}

.volver{
    display: flex;
    align-items: center;
    width: 307px;
    height: 79px;
    text-decoration: none;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 20px;
    border: 5px solid #000000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 35px;
    background: linear-gradient(90deg, #FF971E 0%, #FE3032 100%);
    box-shadow: 0 2px 0 #d87f19;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
    box-sizing: border-box;
    overflow: hidden;
    padding-right: 40px;
    transition: all .1s linear;
}

.volver:active{
    box-shadow: 0 2px 0 #d87f19;
    transform: translateY(4px);
    opacity: 70%;
}

.volver::after {
    content: '';
    position: absolute;
    right: 15px; 
    top: 50%;
    transform: translateY(-50%);
    width: 60px; 
    height: 5px; 
    background-color: #000000; 
}

.volver::before {
    content: '';
    position: absolute;
    right: 5px; 
    top: 50%;
    transform: translateY(-50%) translateX(-230%) rotate(135deg);
    width: 17px;
    height: 17px;
    border-right: 4px solid #000000;
    border-bottom: 4px solid #000000;
}

.texto {
    margin-left: 30px;
    font-size: 25px;
}

.espacioarriba2 {
    gap: 25px;
}

.espacioabajo {
    height: 50px;
}

.textofeedback {
    width: 350px;
    height: 65px;
    padding: 10px;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    resize: none;
    overflow: hidden;
    text-align: start;
    vertical-align: top;
    line-height: 1.5;
}

.divInput {
    display: flex;
    text-align: start;
}